@model IEnumerable<WebDev2.Models.Product>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<table>
    <tr>
        <td>@Html.ActionLink("Add New Product", "Create", "Product")</td>
        <td>
            <form asp-controller="Product" asp-action="Index">
                <input type="text" value="" name="idproducts" />
                <input type="submit" value="Search"/>
            </form>
        </td>
    </tr>
</table>

                
<table class="table">
    <thead>
        <tr>
            <th>ID Products</th>
            <th>Product Name</th>
            <th>@Html.DisplayNameFor(model=>model.category)</th>
            <th>@Html.DisplayNameFor(model=>model.price)</th>
            <th>@Html.DisplayNameFor(model=>model.datetimeadded)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.idproducts)</td>
                <td>@Html.DisplayFor(modelItem=>item.productname)</td>
                <td>@Html.DisplayFor(modelItem=>item.category)</td>
                <td>@Html.DisplayFor(modelItem=>item.price)</td>
                <td>@Html.DisplayFor(modelItem=>item.datetimeadded)</td>
                <td>@Html.DisplayFor(modelItem=>item.description)</td>
                <td><a asp-action="Edit" asp-route-id="@item.idproducts">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.idproducts">Details</a></td>
            </tr>
        }
    </tbody>
</table>
